langchain
langchain_community
langchain_core
python_dotenv
langchain_groq
streamlit
langchain-text-splitters
langchain_classic
faiss-cpu
pypdf
langchain_chroma
langchain_huggingface
sentence-transformers
arxiv
wikipedia
ipykernel
hub
validators
SQLAlchemy
mysql-connector-python
youtube_transcript_api
unstructured
numexpr
langchain_huggingface
huggingface_hub
cassio
datasets
tiktoken
duckduckgo-search
PyPDF2
ddgs

